body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}

.left-section {
    flex: 1;
    overflow: hidden;
}

.left-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #ff9a8b;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

a {
    color: #ff9a8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f7f7f7;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}

.left-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    width: 100%; /* Añadir esta regla para que la imagen ocupe el 100% del contenedor */
}

.right-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #ff7aa2;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff6382;
}

p {
    font-size: 14px;
    margin-top: 15px;
}

a {
    color: #ff7aa2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
