body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}



.banner {
    margin-top: 20px;
    background-color: #8bd0dd;
    text-align: center;

    width: 100%;
    height: 500px;
}


/*OPINIONS*/
.opinions {
    text-align: center;
    margin: 20px 0;

}

.opinions h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Fredoka One', cursive;
}

.opinion {
    background-color: #ffffff; /* Puedes cambiar el color de fondo */
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    width: 20%;

    display: flex;
}

.opinion p {
    margin: 0;
    font-size: 16px;
}

.opinion .author {
    margin-top: 5px;
    font-style: italic;
    color: #777;
}
/* ... (Tus estilos existentes) ... */

.opinions {
    text-align: center;
    
}

.opinion {

    margin: 20px;
    padding: 10px;
    border: 1px solid rgb(243, 179, 179);
    border-radius: 40px;
    display: inline-block;
    vertical-align: top;
    width: 20%;

}

.user-info {
    text-align: center;
}

.user-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.author {
    font-style: italic;
}
@media screen and (max-width: 768px) {
    .opinion {
        width: 80%;
        min-width: 70%;
    }
}
/* ... (Resto de tus estilos) ... */


/* ... (Resto de tus estilos) ... */
.detalles{
    width: 100%;
    height: 500px;
    background-color: #8bd0dd;
    margin: 0px 20px 20px 0px;
}

/* ... BOX ... */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px; /* Ajusta según sea necesario */
    height: 350px; 
    box-sizing: border-box;
}

.box img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    color: #FF69B4;
}

p {
    color: #333;
}

@media screen and (max-width: 768px) {
    .box {
        width: 80%;
    }
}
/*FOOTER*/

.cute-footer {
    background-color: #FF69B4;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
    flex: 1 1 200px; /* Ajusta según sea necesario */
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.copyright-info {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
    }
}
/* ... (Resto de tus estilos) ... */
