* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ececec;
}

.iconCart {
    display: flex;
    align-items: center;
    position: relative;
}

.iconCart img {
    width: 40px; /* Ajusta el tamaño de la imagen del carrito según tus preferencias */
    margin-right: 10px; /* Espaciado entre la imagen y la cantidad en el carrito */
}

.totalQuantity {
    background-color: #d993db; /* Color de fondo para resaltar la cantidad en el carrito */
    color: #fff; /* Color de texto para la cantidad en el carrito */
    border-radius: 50%; /* Borde redondeado para un aspecto más estético */
    padding: 5px 10px; /* Espaciado interno para la cantidad en el carrito */
    font-size: 14px; /* Tamaño de fuente para la cantidad en el carrito */
    position: absolute;
    top: 0;
    right: 0;
}
/*CARRITO*/

.cart{
    color: rgb(0, 0, 0);
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: #eaebee;
    top: 0px;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
}

.cart .buttons .checkout{
    background-color: #E8BC0E;
    color: #000;
}
.cart h2{
    color: #ebb6e8;
    padding: 20px;
    height: 30px;
    margin: 0;
}


.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
}
.cart .listCart img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}
.cart .listCart .item .name{
    font-weight: bold;
}
.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
}
.cart .listCart .item .quantity span{
    display: block;
    width: 50px;
    text-align: center;
}

.cart .listCart{
    padding: 20px;
    overflow: auto;
}
.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.cart .buttons div{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cart .buttons a{
    color: #fff;
    text-decoration: none;
}
/*PRODUCTOS*/
.listProduct{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 70%;
    margin: 0 auto;
}

.item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




 
/* styles.css */

/* Estilos para el botón de agregar al carrito */
.listProduct .item button {
    background-color: #ff80ab; /* Rosa */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px; /* Bordes redondeados */
}

.listProduct .item button:hover {
    background-color: #ff5277; /* Cambio de color al pasar el mouse */
}

/* Estilos para los botones de cantidad en el carrito */
.listCart .quantity button {
    background-color: #ffd699; /* Amarillo */
    color: #8b4513; /* Marrón */
    border: none; /* Sin borde */
    padding: 8px 12px; /* Relleno interno */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px; /* Bordes redondeados */
}

.listCart .quantity button:hover {
    background-color: #ffb366; /* Cambio de color al pasar el mouse */
}

/* Estilos para los botones de cerrar y pagar en el carrito */
.listCart .buttons .close,
.listCart .buttons .checkout a {
    display: inline-block;
    margin: 8px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px; /* Bordes redondeados */
}

.listCart .buttons .close {
    background-color: #ff6666; /* Rojo */
}



.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
}

.listProduct .item {
    border: 1px solid #f0f0f0; /* Borde gris claro */
    margin-bottom: 20px;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.listProduct img {
    width: 100%;
    border-bottom: 1px solid #f0f0f0; /* Borde inferior gris claro para la imagen */
}

.listCart,
.listCart .item,
.listCart .buttons {
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.listCart .item {
    border-bottom: 1px solid #f0f0f0; /* Borde inferior gris claro */
    padding: 10px ;
}

h2 {
    color: #000000; /* Rosa */
    text-align: center;
}
